
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Weather station</title>
   <!-- CDN -->
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <style>
  </style>

</head>
<body>
  <div class="jumbotron">
    <h1>Villa weather control</h1>
  </div><!-- /.jumbotron -->
  <div class="container">
    <h3>Temperature: {{ weather.get_temperature('celsius').get("temp") }} C</h3>
    <h3>Rain: {{ weather.get_rain() }}</h3>
    <h3 id="flow">Flow: 0 L</h3>
    <h3 id="flowSpeed">Flow speed: 0 L/minute</h3>
    <h3 id="timeOn">0 minutes and 0 seconds left</h3><!-- /#timeOn -->

    <form id="sprinklerForm" class="form-inline">
      <div class="form-group">
        <label for="sprinklerTimer">Timer (mins)</label>
        <input type="number" class="form-control" id="sprinklerTimer" value="5"></input>
      </div><!-- /.form-group -->
      <button class="btn btn-success" id="sprinklerButton" type="submit">Sprinkler</button>
    </form><!-- /.form-inline -->
    <hr />

    <div class="container">
      <form id="settingsForm">
        <div class="form-group">
          <label>Sprinkler Interval</label>
          <input type="number" id="sprinklerInterval" />
        </div><!-- /.form-group -->
        <div class="form-group">
          <label>Sprinkler Time</label>
          <input type="number" id="sprinklerTime" />
        </div><!-- /.form-group --> 
        <div class="form-group">
          <label>Minimum Temperature</label>
          <input type="number" id="minTemp" />
        </div><!-- /.form-group --> 
        <div class="form-group">
          <label>Start time</label>
          <input type="number" id="startTime" />
        </div><!-- /.form-group --> 
        <div class="form-group">
          <label>Stop Time</label>
          <input type="number" id="stopTime" />
        </div><!-- /.form-group --> 
        <button class="btn btn-default" id="settingsButton" type="submit">set Settings</button>
      </form>
    </div><!-- /.container -->


  </div><!-- /.container -->
  <!-- CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


  <script>
    'use strict';

    var socket = io.connect();
    var sprinklerState = false;
    var time = 0;

    socket.on('connect', function() {
      console.log("connected to server");
      socket.emit('connected');
      // check for new values every 100ms
      window.setInterval(function() {
          socket.emit('getSprinkler');
          socket.emit('getFlow');
      }, 100);
    });

    socket.on('getSprinkler', function(msg) {
      sprinklerState =  msg.state; // boolean if sprinkler is on
      $("#sprinklerButton").toggleClass("btn-danger", sprinklerState);
      $("#sprinklerTimer").prop("disabled", sprinklerState);
      if (sprinklerState) {
        var stopTime = msg.time; // UNIX timestamp for when it will be closed in seconds
        var d = new Date();
        var curTime = Date.now()/1000;
        var timeDiff = stopTime - curTime; // in seconds
        var minutes = Math.floor( timeDiff / 60); // time left in minutes
        var seconds = Math.round(timeDiff - minutes * 60);
        $("#timeOn").text(minutes + " minutes and " + seconds + " seconds left");
      } else {
        $("#timeOn").text("0 minutes and 0 seconds left");

      }
      console.log("received sprinkler state: " + sprinklerState)
    });

    socket.on('passFlow', function(msg) {
        var liters = msg['flow'];
        var flowSpeed = msg['flowSpeed'];
        liters = Math.round(liters * 10) / 10;
        flowSpeed = Math.round(flowSpeed * 10) / 10;
        $("#flow").text("Flow: " + liters +"L");
        $("#flowSpeed").text("Flow speed: " + flowSpeed + " L/minute");
    });

    socket.on('invalidInput', function(msg) {
      alert("This is not a valid input: " + msg['error']);
    })

    $("#sprinklerForm").submit(function(event) {
        var timer = $("#sprinklerTimer").val();
        var msg = {
            state: !sprinklerState,
            time: timer
            };
        socket.emit('setSprinkler', msg);
        console.log("sending state: " + msg.state);
        event.preventDefault();
    });

    socket.on('getSettings', function(msg) {
      $("#sprinklerInterval").text(msg['sprinklerInterval']);
      $("#sprinklerTime").text(msg['sprinklerTime']);
      $("#minTemp").text(msg['minTemp']);
      $("#startTime").text(msg['startTime']);
      $("#stopTime").text(msg['stopTime']);
    });

    $("#settingsForm").submit(function(event){
      var msg = {
        sprinklerInterval: $("#sprinklerInterval").val(),
        sprinklerTime: $("#sprinklerTime").val(),
        minTemp: $("#minTemp").val(),
        startTime: $("#startTime").val(),
        stopTime: $("#stopTime").val()
      };
      socket.emit('setSettings', msg);
      console.log("sending settings");
      console.log(msg);
      event.preventDefault();
    })
  </script>
</body>
</html>
